* {
    margin: 0;
    padding: 0;

    background-color: #0F0F0F;
    color: #FFFFFF;

    font-family: 'Inter', sans-serif;
    font-size: 33px;
}

body {
    display: flex;
    flex-direction: column;
    margin-top: 55px;
    text-align: center;
    align-items: center;
}

#entrar {
    width: 770px;
    align-items: center;
}

#logo {
    width: 165px;
}

#menu {
    line-height: 0;

}

h1 {
    margin-top: 30px;
    font-size: 54px;
}

p {
    margin-top: 40px;
    margin-bottom: 40px;

    text-align: center;

    font-size: 29px;
}

label {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 100%;

    text-align: start;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 54px;
}

.inpBtn {
    height: 55px;
    border-radius: 25px;
    width: 95%;
}

input {
    background-color: #7F7F7F;
    padding-left: 5%;
}

button {
    height: 60px !important;
    background-color: #8C77E0;
}

#btnEntrar {
    margin-top: 40px;
    width: 214px;
}

#btnEntrarProvedor {
    width: 460px;
}